
  
 
<!doctype html>
<html lang="en">
{% load static  %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Jason Jafari">
     
    <title>Jason Jafari</title>

   
    <!-- Bootstrap core CSS -->
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"  crossorigin="anonymous">
    <!-- Favicons -->
<link rel="apple-touch-icon" href="{% static 'logo.png' %}" sizes="180x180">
<link rel="icon" href="{% static 'logo.png' %}"  sizes="32x32" type="image/png">
<link rel="icon" href="{% static 'logo.png' %}" sizes="16x16" type="image/png">
{% comment %} <link rel="manifest" href="/docs/4.4/assets/img/favicons/manifest.json"> {% endcomment %}
<link rel="mask-icon" href="/docs/4.4/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">
<link rel="icon" href="/docs/4.4/assets/img/favicons/favicon.ico">
<meta name="msapplication-config" content="/docs/4.4/assets/img/favicons/browserconfig.xml">
<meta name="theme-color" content="#563d7c">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.4/examples/album/album.css" rel="stylesheet">
  </head>
  <body>
    <header>
  
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
  
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 style=" text-shadow: 2px 2px 5px gray;  font-weight: bold;" >{{job.summary}}</h1>
      <img src="{{ job.image.url}}" style=" border: 10px solid #98989a;width: 95%;  border-radius: 5%; box-shadow: 10px 10px 5px grey;">
          
<hr>


       
      
        <strong>  <a   href="{% url 'home' %}" class="btn btn-primary my-2">Home</a></strong>
       
     
    </div>
  </section>
 

</main>

<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>Powerd by Django and Use Bootstrap for styling</p>
    <p>Hosted by Amazon Web Services (AWS)</p>
    
  </div>
</footer> 
<script src="{% static 'jquery-3.4.1.min.js' %}"  crossorigin="anonymous"></script>
<script src="{% static 'popper.min.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'bootstrap.min.js' %}"   crossorigin="anonymous"></script>

</html>
